.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  align-items: center;
}

.left {
  flex-wrap: wrap;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.left h1 {
  width: 50%;
  text-align: left;
}

.left p {
  width: 60%;
}

.left .numbers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 30%;
}

.right {
  padding-right: 60px;
}

.link-network {
  display: flex;
  gap: 15px;
  align-items: center;
}

.picture-of-me {
  border-radius: 20px;
}

.middle {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-row-gap: 100px;
}

.middle > div {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.middle > div > p {
  width: 50%;
  margin: 0 auto;
}

.middle > div > h2 {
  text-align: center;
}

.titre {
  text-align: center;
}
