.svg1 {
  position: absolute;
  left: 0%;
  top: 30%;
  z-index: -1;
  width: 30%;
  height: 30%;
}

.svg2 {
  position: absolute;
  right: 0%;
  top: 2%;
  z-index: -1;
  width: 20%;
  height: 20%;
}

.svg3 {
  position: absolute;
  right: 40%;
  top: 80%;
  z-index: -1;
  width: 20%;
  height: 20%;
}
